<div class='flex items-center justify-between mb-4'>
  <h1 class='text-2xl'>Detalle del Carrito {{cart._id}}</h1>
  <p>Total de productos en carrito: {{cart.products.length}}</p>
</div>
<hr />
<div class='flex flex-col gap-4'>
  {{#if cart.products.length}}
    {{#each cart.products}}
      <hr />
      <div class='product-card'>
        <h3>{{this.product.title}}</h3>
        <p>Categorias: {{this.product.categories}}</p>
        <p>Descripción: {{this.product.description}}</p>
        <p>Precio: $ {{this.product.price}}</p>
        <p>Cantidad: {{this.quantity}}</p>
      </div>
    {{/each}}
  {{else}}
    <p>No hay productos para mostrar.</p>
  {{/if}}

</div>
